.sidebar{
    display: flex;
    position: relative;
    z-index: 1;
    transition: all 300ms ease;
}

.menubar{
    display: none;
}

.logo{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 22px;
    font-weight:bold;
    letter-spacing: 1.6px;
}

.logo > img{
    width: 3rem;
    height: 3rem;
    margin-left: 1.5rem;
} 

.logo > span >span{
    color: var(--pink);
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.menu-item{
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 0.6rem;
    padding:0.5rem 1.5rem 0.5rem;
    margin-top: 2rem;
    border-radius: 0px 12px 12px 0px;
    position: relative;
    transition: all 300ms ease;
    text-decoration: none;
   
}

.menu a:active{
    color: black !important;
}

.menu-item:hover{
    cursor: pointer;
}

.active{
    background-color: var(--activeItem);
    margin-left: 2%;
}

.active::before{
    content: " ";
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: var(--pink);
    top: 0%;
    left: 0%;
}

.menu-item>img{
    width: 1.7rem;
    height: 1.7rem;
    padding-right: 3rem;
} 

.menu-item>span{
        text-align: left;
        color: black;
}

#log-out{
    margin-top: 50px;
}

@media(max-width:1206px){
    .logo{
        display: none;
    }
    .menu-item{
        width: 20%;
    }
    .menu-item>span{
        display: none;
    }
}

@media(max-width:768px){
    .logo{
        display: flex;
        justify-content: flex-start;
    }

    .sideBar{
        position: fixed;
        z-index: 9;
        background:linear-gradient(106.37deg,#ffe1bc 29.63%,#ffcfd1 51.55%,#f3c6f1 90.85%);
        height: 100vh;
        top: 0%;
        left: 0px;
        width: 240px;
        z-index: 1;
        transition: 1s;
    }
    .menubar{
        display: flex;
        width: 30px;
        position: absolute;
        top:2%;
        left: 110%;
        background:linear-gradient(106.37deg,#ffe1bc 29.63%,#ffcfd1 51.55%,#f3c6f1 90.85%);
        z-index: 1;
        border-radius: 30px;
        padding: 10px;
        transition: 1s ease-in-out;
    }
    .menu{
        margin-top: 1rem;
    }
    .menu-item{
        width: 75%;
    }
    .menu-item>span{
        display: inline;
    }
}
